# Environment
.env
.env.example

# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
venv/
.venv/
app/.venv/

# Git
.git/
.gitignore
.github/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Docker
Dockerfile*
docker-compose*.yaml

# Docs
*.md

# Logs
*.log
