authlib==1.6.5
fastapi==0.124.4
httpx==0.28.1
pydantic==2.12.5
python-dotenv==1.2.1
python-jose[cryptography]==3.5.0
SQLAlchemy==2.0.45
starlette==0.50.0
uvicorn[standard]
psycopg2-binary
python-multipart
passlib
itsdangerous
boto3
pydantic-settings
botocore[crt]>=1.33.0
